.container{
    width: 700px;
    margin: 0 auto;
}
.wrap{
    background-color: #444141;
}
.title{
    color: white;
    padding: 10px;
}


.border{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.text{
    padding: 10px;
}
.item:nth-child(odd) {
    background-color: #cdcdcd;
}
